@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Montserrat" , sans-serif;
}
body{
    background-color: rgb(17, 17, 17);
    color: white ;
    position: relative;
}
.Logo-f{
    color: red;
    margin-left: 5px;
}
/* swiper starts */
    .prevH1{
        margin-left: 50px;
        margin-bottom: 5px;
        color: rgba(255, 0, 0, 0.822);

    }
    .swiper {
      width: 90%;
      height: 70%;
      margin: 20px;
      margin-left: 50px ;
      margin-bottom: 100px ;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .card a{
        color: red;
        text-decoration: none;
        cursor: pointer;
      }
  /* swiper ends */
  